{% extends "::base.html.twig" %}

{% block menu %}
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ path('portada') }}">HorariosApp</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {% if is_granted('ROLE_PLAN') %}   {# El rol de Administrador tiene acceso a todo #}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administración <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {#<li class="nav-header">Usuario</li>#}
                  <li><a href="{{ path('admin_usuario_listado') }}">Usuarios</a></li>
                  <li><a href="{{ path('admin_rol_listado') }}">Roles</a></li>
                   <li><a href="{{ path('bitacora') }}">Bitacora</a></li>
				   {#<li><a href="{{ path('horario_reporte') }}">Reporte Horario</a></li>
				   <li><a href="{{ path('horario_pdf') }}">Reporte Horario PDF</a></li>#}
                </ul>
              </li>


                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Horarios <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="nav-header">Programador</li>
                    <li><a href="{{ path('horario') }}">Horarios</a></li>
                    {#<li><a href="{{ path('horarioasignatura') }}">Horarios y Asignaturas</a></li>#}
                    <li><a href="{{ path('actividad') }}">Actividades</a></li>
                    <li><a href="{{ path('asignatura') }}" >Asignaturas</a></li>
                  </ul>
                </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Organización <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">Espacios Fisicos</li>
                  <li><a href="{{ path('facultad') }}">Facultades</a></li>
                  <li><a href="{{ path('carrera') }}">Carreras</a></li>

                  <li class="nav-header">Planificación</li>
                  <li><a href="{{ path('escuelas') }}">Escuelas</a></li>
                  <li><a href="{{ path('pensum') }}">Pensum</a></li>
                  <li><a href="{{ path('ciclo') }}">Ciclos</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Catálogo <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">Tablas Origen</li>
                  <li><a href="{{ path('tipolugar') }}">Tipo de Lugares</a></li>
                  <li><a href="{{ path('lugar') }}">Lugares</a></li>
                  <li><a href="{{ path('tipoactividad') }}">Tipo de Actividad</a></li>
                  <li><a href="{{ path('dia') }}">Dias de actividades</a></li>
                  <li><a href="{{ path('franja') }}">Franjas de Horarios</a></li>
                  <li><a href="{{ path('estados') }}">Estados</a></li>
                </ul>
              </li>
              {% endif %}

              {% if is_granted('ROLE_HORA') %}

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Horarios <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="nav-header">Programador</li>
                    <li><a href="{{ path('horario') }}">Horarios</a></li>
                    {#<li><a href="{{ path('horarioasignatura') }}">Horarios y Asignaturas</a></li>#}
                    <li><a href="{{ path('actividad') }}">Actividades</a></li>
                    <li><a href="{{ path('asignatura') }}" >Asignaturas</a></li>
                  </ul>
                </li>

              {% endif %}

              {% if is_granted('ROLE_ASIGNA') %}

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Horarios <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="nav-header">Programador</li>
                    <li><a href="{{ path('horario') }}">Horarios</a></li>
                    {#<li><a href="{{ path('horarioasignatura') }}">Horarios y Asignaturas</a></li>#}
                    <li><a href="{{ path('actividad') }}">Actividades</a></li>
                    <li><a href="{{ path('asignatura') }}" >Asignaturas</a></li>
                  </ul>
                </li>

              {% endif %}

              <li><a href="{{ path('acerca_de') }}">Acerca de</a></li>
              <li><a href="{{ path('contacto') }}">Contacto</a></li>
              <li><a href="{{ path('ayuda') }}">Ayuda</a></li>
            </ul>
            <ul class="nav pull-right">
              <li id="fat-menu" class="dropdown">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }} <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    <li><a tabindex="-1" href="#">Perfil</a></li>
                    <li><a tabindex="-1" href="#">Contraseña</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="{{ path('logout') }}">Salir</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(function() {
  $('.dropdown-toggle').dropdown();
});
</script>
{% endblock %}
