{% extends 'QQiRecordappBundle::layout.html.twig' %}

{% block title %}Actividad {% endblock %}

{% block body %}

{% for type, flashMessage in app.session.flashbag.all() %}
    <div class="alert alert-{{ type }} fade in">
        <button class="close" data-dismiss="alert" type="button">×</button>
        {% if flashMessage.title is defined %}
        <strong>{{ flashMessage.title }}</strong>
        {{ flashMessage.message }}
        {% else %}
        {{ type }}
        {% endif %}
    </div>
{% endfor %}

<div class="container">
<div class="row">
    <div class="span12">

        <table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Codigo de Materia</th>
            <td>{{ entity.idHoasig.idAsignatura.codigo }}</td>
        </tr>
        <tr>
            <th>Materia</th>
            <td>{{ entity.idHoasig.idAsignatura.nombre }}</td>
        </tr>
        <tr>
            <th>Tipo de Activiad</th>
            <td>{{ entity.idTipoactividad }}</td>
        </tr>
        <tr>
            <th>Numero de Grupo</th>
            <td>{{ entity.numerogrupo }}</td>
        </tr>
        <tr>
            <th>Local</th>
            <td>{{ entity.idLugar }}</td>
        </tr>
        <tr>
            <th>Dia</th>
            <td>{{ entity.idDia }}</td>
        </tr>
        <tr>
            <th>Hora Inicio</th>
            <td>{{ entity.idFranja.horaInicio|date('G:ia') }}</td>
        </tr>
        <tr>
            <th>Hora Fin</th>
            <td>{{ entity.idFranja.horaFin|date('G:ia') }}</td>
        </tr>
    </tbody>
</table>

    </div>
</div>

<div class="row">
        <a class="btn btn-primary btn-sm" href="{{ path('actividad') }}">
            Regresar a listado
        </a>

        <a class="btn btn-success btn-sm"  href="{{ path('actividad_edit', { 'id': entity.id }) }}">
           Modificar
        </a>


        <form action="{{ path('actividad_delete', { 'id': entity.id }) }}" method="post" >
            {{ form_widget(delete_form) }}
            <br />
            <input class="btn btn-danger btn-sm" type="submit" value="Eliminar" >
        </form>

</div>
</div>

{% endblock %}
