{% extends 'QQiRecordappBundle::layout.html.twig' %}

{% block title %}Todos los Pensum {% endblock %}

{% block body %}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h3>Pensum</h3>
        <p><a class="btn btn-primary btn-large" href="{{ path('pensum_new') }}">Nuevo &raquo;</a></p>
    </div>

<!-- Example row of columns -->
<div class="row">
    <div class="span12">

        <table class="table table-bordered table-striped">
    <thead>
        <tr>
                <th>#</th>
                <th>Nivel</th>
                <th>Activa</th>
                <th>Plan</th>
                <th>Vigente</th>
                <th>Asignatura</th>
                <th>Carrera</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('pensum_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nivel }}</td>
            <td>{{ entity.activa }}</td>
            <td>{{ entity.plan }}</td>
            <td>{{ entity.vigente }}</td>
            <td>{{ entity.idAsignatura}}</td>
            <td>{{ entity.idCarrera}}</td>
            <td>
                    <a href="{{ path('pensum_show', { 'id': entity.id }) }}"><i class="icon-th-list"></i> show</a>
                    <a href="{{ path('pensum_edit', { 'id': entity.id }) }}"><i class="icon-th-list"></i> edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>

        </table>

</div>
    </div>

{% endblock %}
