{% extends 'QQiRecordappBundle::layout.html.twig' %}

{% block title %}Pensum {% endblock %}

{% block body %}

<div class="row">
    <div class="span12">

        <table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nivel</th>
            <td>{{ entity.nivel }}</td>
        </tr>
        <tr>
            <th>Activa</th>
            <td>{{ entity.activa }}</td>
        </tr>
        <tr>
            <th>Plan</th>
            <td>{{ entity.plan }}</td>
        </tr>
        <tr>
            <th>Vigente</th>
            <td>{{ entity.vigente }}</td>
        </tr>
        <tr>
            <th>Tipo Lugar</th>
            <td>{{ entity.idAsignatura}}</td>
        </tr>
        <tr>
            <th>Tipo Lugar</th>
            <td>{{ entity.idCarrera}}</td>
        </tr>
    </tbody>
</table>

    </div>
</div>

<div class="row">
        <a class="btn btn-primary btn-sm" href="{{ path('pensum') }}">
            Regresar a listado
        </a>

        <a class="btn btn-success btn-sm"  href="{{ path('pensum_edit', { 'id': entity.id }) }}">
           Modificar
        </a>


        <form action="{{ path('pensum_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <br />
            <input class="btn btn-danger btn-sm" type="submit" value="Eliminar">
        </form>

</div>

{% endblock %}
