{% extends "QQiRecordappBundle::layout.html.twig" %}

{% block title %}Asignatura{% endblock %}

{% block body %}
	<div class="hero-unit">
		<h2>{{ asignatura.nombre }}, {{ asignatura.codigo }}</h2>
		<p><strong>{{ asignatura.nombre}}</strong></p>
		<p>
			<a class="btn btn-primary btn-sm" href="{{ path('asignatura_editar', {'id': asignatura.id }) }}">Aprobar Asignatura</a>
			<a class="btn btn-primary btn-sm" href="{{ path('admin_usuario_listado') }}">Regresar al Listado</a>
		</p>
	</div>
{% endblock %}
