{% extends 'QQiRecordappBundle::layout.html.twig' %}

{% block title %}Todos los dia {% endblock %}

{% block body %}

<div class="container">
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h3>Dia</h3>
      <!--  <p><a class="btn btn-primary btn-large" href="{{ path('dia_new') }}">Nuevo &raquo;</a></p> -->
    </div>

<!-- Example row of columns -->
<div class="row">
    <div class="span12">

        <table class="table table-bordered table-striped">
    <thead>
        <tr>
                <th>#</th>
                <th>Nombre</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('dia_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>
                    <a href="{{ path('dia_show', { 'id': entity.id }) }}"><i class="icon-th-list"></i> show</a>
                    <!-- <a href="{{ path('dia_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> edit</a> -->
            </td>
        </tr>
    {% endfor %}
    </tbody>

        </table>

</div>
</div>
</div>

{% endblock %}
