{% extends "QQiRecordappBundle::layout.html.twig" %}

{% block title %}Todas los ciclos{% endblock %}

{% block body %}

{% for type, flashMessage in app.session.flashbag.all() %}
    <div class="alert alert-{{ type }} fade in">
        <button class="close" data-dismiss="alert" type="button">×</button>
        {% if flashMessage.title is defined %}
        <strong>{{ flashMessage.title }}</strong>
        {{ flashMessage.message }}
        {% else %}
        {{ type }}
        {% endif %}
    </div>
{% endfor %}

<div class="container">
<div class="row">
  <div class="span12">

      <table class="table table-bordered table-striped">
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Fechainicio</th>
            <td>{{ entity.fechaInicio|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Fechafin</th>
            <td>{{ entity.fechaFin|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<div class="row">
        <a class="btn btn-primary btn-sm" href="{{ path('ciclo') }}">
            Regresar a listado
        </a>

        <a class="btn btn-success btn-sm"  href="{{ path('ciclo_edit', { 'id': entity.id }) }}">
           Modificar
        </a>

        <form action="{{ path('ciclo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <br />
            <input class="btn btn-danger btn-sm" type="submit" value="Eliminar">
        </form>

</div>
</div>

{% endblock %}
