{% extends 'QQiRecordappBundle::layout.html.twig' %}

{% block title %}Todos los Horario {% endblock %}

{% block body %}

{% for type, flashMessage in app.session.flashbag.all() %}
    <div class="alert alert-{{ type }} fade in">
        <button class="close" data-dismiss="alert" type="button">×</button>
        {% if flashMessage.title is defined %}
        <strong>{{ flashMessage.title }}</strong>
        {{ flashMessage.message }}
        {% else %}
        {{ type }}
        {% endif %}
    </div>
{% endfor %}

<div class="container">
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h3>Horario</h3>
        <p><a class="btn btn-primary btn-large" href="{{ path('horario_new') }}">Nuevo &raquo;</a></p>
    </div>

<!-- Example row of columns -->
<div class="row">
    <div class="span12">

        <table class="table table-bordered table-striped">
    <thead>
        <tr>
                <th>#</th>
                <th>Fechacreacion</th>
                <th>Estado</th>
                <th>Ciclo</th>
                <th>Escuela</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('horario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.idEstado }}</td>
            <td>{{ entity.idCiclo }}</td>
            <td>{{ entity.idEscuela }}</td>
            <td>
                    <a href="{{ path('horario_show', { 'id': entity.id }) }}"><i class="icon-th-list"></i> show</a>
                    <a href="{{ path('horario_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> edit</a>
                    <a href="{{ path('horario_pdf',  { 'id': entity.id }) }}"><i class="icon-print"></i> PDF</a>
                    <a href="{{ path('horario_reporte',  { 'id': entity.id }) }}"><i class="icon-print"></i> XLS</a>

                {% if is_granted('ROLE_HORA') %}
                    <a href="{{ path('aprobar_horarios', { 'id': entity.id }) }}"><i class="icon-camera"></i> Revisar</a>
                {% endif %}

            </td>
        </tr>
    {% endfor %}
    </tbody>

        </table>

</div>
    </div>
</div>

{% endblock %}
