{% extends 'QQiRecordappBundle::layout.html.twig' %}

{% block title %}Todos los Horario {% endblock %}

{% block body %}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h3>Horario</h3>
        <p><a class="btn btn-primary btn-large" href="{{ path('horario_new') }}">Nuevo &raquo;</a></p>
    </div>

<!-- Example row of columns -->
<div class="row">
    <div class="span12">

        <table class="table table-bordered table-striped">
    <thead>
        <tr>
                <th>#</th>
                <th>Fechacreacion</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('horario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>
                    <a href="{{ path('horario_show', { 'id': entity.id }) }}"><i class="icon-th-list"></i> show</a>
                    <a href="{{ path('horario_edit', { 'id': entity.id }) }}"><i class="icon-th-list"></i> edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>

        </table>

</div>
    </div>

{% endblock %}
